<!-- <div *ngIf="makeArray && makeArray.length > 0" class="setting-icon">
      <a data-toggle="modal" (click)="columnFilterModal.open()" class="filterimg">
            <i class="settingsIcon fa gearIcon"></i>
      </a>
</div> -->
<div class="setting-icon">
      <a data-toggle="modal" (click)="searchMake.open()" class="filterimg">
            <i class="settingsIcon fa filterIcon"></i>
      </a>
</div>

<div *ngIf="makeArray && makeArray.length > 0" class="col-md-3 col-sm-12 col-xs-12  conf">
      <input class="forconf" [(ngModel)]="searchId" placeholder="{{'NCPBtn.search'| translate}}">
</div>
<div style="clear:both;"></div>
<div class="filterac">
      <table>
            <thead>
                  <tr>
                        <th *ngFor="let header of tableDetails;let i= index" [class]="selectedClass(header.mapping)"
                              (click)="changeSorting(header.mapping);(this.rotateFlag === i) ? this.rotateFlag='':this.rotateFlag=i;"
                              [attr.data-title]="header.header | translate">
                              <span>
                                    <span class="labelHeader">{{header.header | translate}}</span>
                              </span>
                              <i class="icon-arrow-d indexicon" [class.rotate]="rotateFlag === i"></i>
                        </th>
                        <th class="actionCol">
                              <span>
                                    <span class="labelHeader">{{'NCPLabel.Action' | translate}}</span>
                              </span>
                        </th>
                  </tr>
            </thead>
            <tbody *ngIf="makeArray && makeArray.length > 0">
                  <tr *ngFor="let object of makeArray  | searchBy : searchId : tableDetails |  orderBy : convertSorting(); let rowIndex=index"
                        id="tabhide">
                        <td *ngFor="let mappings of tableDetails; let i=index"
                              [attr.data-title]="mappings.header | translate">
                              {{object[mappings.mapping]}}
                        </td>


                        <td class="actionCol">

                              <span>
                                    <i class="fa fa-gear showPopover indexrecus" tooltipPlacement="left"
                                          [tooltip]="myTooltip" [tooltipHide]="tooltipHide" tooltipClick=true
                                          [id]="'branchListTooltip'+rowIndex"></i>
                              </span>
                              <tooltip-content #myTooltip [excludeId]="'branchListTooltip'+rowIndex">
                                    <h3 class="popover-title">&nbsp;
                                          <a class="close" (click)="tooltipHide = myTooltip.hide()">
                                                <i class="icon-alert"></i>
                                          </a>
                                    </h3>
                                    <div class="popover-content">
                                          <div>
                                                <ul>
                                                      <li>
                                                            <a
                                                                  (click)="editMakeDetail(object.makeCode,'EU'); tooltipHide = myTooltip.hide()">
                                                                  <i class=" iconToolTip"></i>
                                                                  <span
                                                                        class="labelToolTip">{{'NCPLabel.editMake' | translate}}</span>
                                                            </a>
                                                      </li>
                                                      <li>
                                                            <a
                                                                  (click)="getValueobject(object.makeCode,'EU'); tooltipHide = myTooltip.hide()">
                                                                  <i class=" iconToolTip"></i>
                                                                  <span class="labelToolTip">{{'NCPLabel.deleteMake' |
                                                                    translate}}
                                                                  </span>
                                                            </a>
                                                      </li>
                                                </ul>
                                          </div>
                                    </div>
                              </tooltip-content>
                        </td>
                  </tr>
            </tbody>
      </table>
      <div *ngIf="makeArray.length == 0">
            <span class="badge">{{'NCPLabel.noRecordsFound' | translate}}</span>
      </div>
      <div *ngIf="makeArray && makeArray.length > 0 && viewMore" class="col-centered mtb20">
            <button-field buttonType="custom" buttonName="NCPBtn.showMore" buttonClass="ncpbtn-default"
                  iconClass="fa fa-arrow-down" (click)='doViewMore()'>
            </button-field>
      </div>
      <ncp-modal #makeDeleteModal [closeOnEscape]="false" [closeOnOutsideClick]="false" class="modalForm"
            modalClass="modal-md" modalTitle="NCPLabel.confirmDeletion" titleIcon="">
            <modal-content>
                  <modal-content>
                        <div class="btns-row">
                              <button-field buttonType="custom" buttonClass="ncp-btn w100p" iconClass="fa fa-check"
                                    buttonName="NCPBtn.yes"
                                    (click)="deleteMakeDetail(makeCodeValue);makeDeleteModal.close();">
                              </button-field>
                              <button-field buttonType="custom" buttonClass="ncp-btn w100p" iconClass="fa fa-close "
                                    buttonName="NCPBtn.no" (click)="navigateModelList();makeDeleteModal.close();">
                              </button-field>
                        </div>
                  </modal-content>

            </modal-content>
      </ncp-modal>
      <ncp-modal class="modalForm" #columnFilterModal [closeOnEscape]="false" [closeOnOutsideClick]="false"
            modalClass="modal-lg" modalTitle="NCPLabel.filterTableContents"
            titleIcon="glyphicon glyphicon-wrench confed">
            <modal-content>
                  <div class="row">
                        <multi-check elementId="cbox" [checkboxArray]="multicheckarray" elementLabel="Fields"
                              ngDefaultControl></multi-check>
                  </div>
            </modal-content>

            <modal-footer>
                  <div class="btns-row">
                        <div class="col-md-12 col-sm-12 col-xs-12 pull-right plr-xs-0">
                              <div *ngIf="errmsg">{{'NCPLabel.pleaseselectonefield' | translate}}&nbsp;
                                    <i class="fa fa-smile-o" aria-hidden="true"></i>
                              </div>
                        </div>
                        <button-field buttonType="custom" buttonClass="ncp-linkBtn w100p " iconClass="fa fa-close"
                              buttonName="NCPBtn.close">
                        </button-field>
                        <button-field buttonType="custom" buttonClass="ncpbtn-default w100p" iconClass="fa fa-save"
                              buttonName="NCPBtn.save">
                        </button-field>
                  </div>
            </modal-footer>
      </ncp-modal>
      <ncp-modal modalClass="modal-lg" #searchMake [closeOnEscape]="false" [closeOnOutsideClick]="false"
            modalTitle="NCPLabel.filterTableContent" titleIcon="glyphicon glyphicon-wrench confed">
            <modal-content>
                  <div [formGroup]="makeListFormGroup">
                        <div class="row">
                              <ncp-label elementLabel="NCPLabel.makeCode" elementId="makeCode">
                              </ncp-label>
                              <text-box formControlName="makeCode" inputType="text" ngDefaultControl
                                    acceptPattern="[A-Za-z0-9]" maxLength="6" elementLabel="NCPLabel.makeCode">
                              </text-box>
                        </div>
                        <div class="row">
                              <ncp-label elementLabel="NCPLabel.makeCodeDescription" elementId="makeCodeDesc">
                              </ncp-label>
                              <text-box formControlName="makeCodeDesc" inputType="text" acceptPattern="[A-Za-z0-9]"
                                    ngDefaultControl maxLength="256" elementLabel="NCPLabel.makeCodeDescription"></text-box>
                        </div>                       
                  </div>
            </modal-content>
            <modal-footer>
                  <div class="btns-row">
                        <button-field buttonType="custom" buttonClass="ncp-linkBtn w100p mt-xs-10"
                              iconClass="fa fa-close" buttonName="NCPBtn.close" (click)="searchMake.close();">
                        </button-field>
                        <button-field buttonType="custom" buttonClass="ncpbtn-default" iconClass="fa fa-eraser"
                              buttonName="NCPBtn.clear" (click)="makeListFormGroup.reset();">
                        </button-field>
                        <button-field buttonType="custom" buttonClass="ncpbtn-default" iconClass="fa fa-filter"
                              buttonName="NCPBtn.filter" (click)="searchMake.close(); filterMake()">
                        </button-field>
                  </div>
            </modal-footer>
      </ncp-modal>
</div>