<div class="ion-padding" *ngIf="vetData">
  <div class="box" [class.opened]="value">
    <form #vetForm="ngForm">
      <div class="ion-padding border border-light showdow p-3 mb-5 bg-white addslot">
        <div class="border-bottom pb-2">
          <ion-item lines="none" class="Schedule-An-Appointm">

            <div *ngIf="imgUrl && !isMobile" class="imgcontainer">
              <img [src]="imgUrl" class="image rounded-circle" alt="">
              <div class="middle">
                <div class="text">
                  <label for="userProfile" class="input-file">
                    <ion-icon name="create"></ion-icon>
                  </label>
                  <input id="userProfile" accept='image/*' type="file" (change)="uploadPicture($event)" />
                </div>
              </div>
            </div>

            <div *ngIf="imgUrl && isMobile" class="imgcontainer">
              <img class="image rounded-circle" [src]="imgUrl" alt="" (click)="selectImage()">
            </div>
            <div *ngIf="!imgUrl" class="imgcontainer">
              <label for="file-input" *ngIf="isMobile" class="input-file">
                <div class="upload-image text-center" (click)="selectImage()">
                  <ion-icon name="camera"></ion-icon>
                  <!-- <p>Click here to upload photo</p> -->
                </div>
              </label>
              <div *ngIf="!isMobile">
                <label for="file-input" class="pt-2">
                  <div class="upload-image text-center">
                    <ion-icon name="camera"></ion-icon>
                    <!-- <p>Click here to upload photo</p> -->
                  </div>
                </label>
                <input id="file-input" accept='image/*' type="file" (change)="uploadPicture($event)" />
              </div>
            </div>

            <span class="ml-2"> Vet info</span>
          </ion-item>
        </div>
        <label>Full name</label><i class="fas fa-asterisk form-asterisk"></i>
        <ion-input class="form-control pl-1" #firstNames="ngModel" name="firstName" type="text"
          [(ngModel)]="vetData.firstName" required placeholder="Full name" minlength="2" maxlength="28"></ion-input>
        <div class="text-danger" *ngIf="firstNames.invalid && (firstNames.dirty || firstNames.touched)">
          <small class="inline" *ngIf="firstNames.errors.required">Full name required.</small>
        </div>
        <div *ngIf="flag === 'edit'">
          <label for="userName">User name</label>
          <ion-input type="text" id="userName" class="form-control" placeholder="User name" #userName="ngModel"
            name="userName" type="text" [(ngModel)]="vetData.userName" minlength="6" maxlength="25"
            pattern='^[a-zA-Z0-9]*$' aria-describedby="basic-addon1" readonly></ion-input>

          <label>Set password</label><i class="fas fa-asterisk form-asterisk"></i>
          <div class="show-password w-100">
            <input [type]="show?'text':'password'" placeholder="Password" #pswd="ngModel" class="form-control"
              name="newPassword" [(ngModel)]="newPassword"
              pattern='^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[\w~@#$%^&*+=`|{}:;!.?\"()\[\]-]{8,16}$' minlength="8"
              maxlength="16" autocomplete="new-password" />
            <ion-icon class="eye-icon" [name]="show?'eye':'eye-off'" (click)='showPassword()'>
            </ion-icon>
          </div>
          <div class="text-danger" *ngIf="pswd.invalid && (pswd.dirty || pswd.touched)">
            <small *ngIf="pswd.errors.pattern">Min 8 characters, 1 uppercase, 1 lowercase and 1 number.</small>
            <!-- <small *ngIf="pswd.errors.required">Password is required.</small> -->
          </div>
        </div>
        <div *ngIf="flag === 'add'">
          <label for="userName">User name</label><i class="fas fa-asterisk form-asterisk"></i>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">{{vet.prefix}}</span>
            </div>
            <input type="text" id="userName" class="form-control" placeholder="User name" #userName="ngModel"
              name="userName" type="text" [(ngModel)]="vetData.userName" minlength="4" maxlength="8"
              pattern='^[a-zA-Z0-9]*$' aria-describedby="basic-addon1" (focusout)="onSearchUsername()" required>
          </div>
          <div class="text-danger" *ngIf="!userName.errors && (userName.dirty || userName.touched)">
            <small *ngIf="isUsernameValid">Username already exist</small>
          </div>
          <div class="text-danger" *ngIf="userName.errors && (userName.dirty || userName.touched)">
            <small *ngIf="userName.errors.pattern || userName.errors.minlength">User name pattern is alphanumeric, must
              be (4-8) characters long</small>
            <small *ngIf="userName.errors.required">User name is required.</small>
            <!-- <small *ngIf="userName.errors.minlength">User name must be (6-10) characters long</small> -->
          </div>

          <label>Password</label><i class="fas fa-asterisk form-asterisk"></i>
          <div class="show-password w-100">
            <input [type]="show?'text':'password'" placeholder="Password" #pswd="ngModel" class="form-control"
              name="newPassword" [(ngModel)]="newPassword"
              pattern='^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[\w~@#$%^&*+=`|{}:;!.?\"()\[\]-]{8,16}$' minlength="8"
              maxlength="16" autocomplete="new-password" required/>
            <ion-icon class="eye-icon" [name]="show?'eye':'eye-off'" (click)='showPassword()'>
            </ion-icon>
          </div>
          <div class="text-danger" *ngIf="pswd.invalid && (pswd.dirty || pswd.touched)">
            <small *ngIf="pswd.errors.pattern">Min 8 characters, 1 uppercase, 1 lowercase and 1 number.</small>
            <small *ngIf="pswd.errors.required">Password is required.</small>
          </div>
        </div>

        <label for="speciesList">I see ...</label><i class="fas fa-asterisk form-asterisk"></i>
        <ion-row class="w-100">
          <ion-col size="1.5" *ngIf=" from !== 0 ">
            <ion-card class="navigation-card" (click)="onPrevious()">
              <i class="fas fa-chevron-left"></i>
            </ion-card>
          </ion-col>
          <ion-col size="3" *ngFor="let species of speciesArray; let i = index"
            [ngClass]="{'isDisable':species.isEditable}">
            <ion-card class="species-card" title="{{species.speciesName}}" (click)="selectedSpecies(species,i)"
              [ngClass]="{'active':species.isActive === true ? true : false}">
              <em [ngClass]='{"isDisplay": species.isActive === true? false: true}' class="far fa-check tick-icon"></em>
              <ion-card-content></ion-card-content>
              <em class="{{species.iconName}} ion-float-end iconSize text-right p-2"></em>
            </ion-card>
          </ion-col>
          <ion-col size="1.5" *ngIf="initialImages < speciesList.length">
            <ion-card class="navigation-card" (click)="onNext()">
              <i class="fas fa-chevron-right"></i>
            </ion-card>
          </ion-col>
        </ion-row>
        <div>
          <button class="Rectangle" [disabled]="!vetForm.valid || selectedSpeciess.length === 0 || isUsernameValid"
            (click)="updateProfile()">{{flag === 'edit'? 'Update' : 'Add vet'}}</button>
          <button class="CANCEL" (click)="close()">Cancel</button>
          <em *ngIf="flag === 'edit' && !VHDA" class="far fa-trash-alt" title="Delete" (click)="delete(vetData)"></em>
        </div>
      </div>
    </form>
  </div>
</div>