<ion-content class="disable-background ion-padding">
  <ion-card class="forgot-password ion-padding">
      <ion-item-divider class="pb-3">
          <div class="signUpLogo w-100">
            <i class="fa fa-times float-right fa-1x" (click)="onCloseForgot()" style="cursor: pointer;"></i>
            <img src="./assets/imgs/logo.png" alt="Logo">  
          </div>
      </ion-item-divider>
      <div class="mx-auto text-center pt-3">
          <h1 class="auth-header">Forgot password</h1>
      </div>
    <ion-card-content>
      <!--forgot password form starts-->
      <form #forgot="ngForm">
        <label>Email address</label>
        <input type="text" class="form-control" placeholder="Email address" [(ngModel)]="modal.email" #email="ngModel"
          name="email" required [pattern]="emailRegex" preventWhiteSpace/>
        <div class="text-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
          <small class="inline" *ngIf="email.errors.pattern">Invalid amail address.</small>
          <small class="inline" *ngIf="email.errors.required">Email address required.</small>
        </div>

        <div class="mt-4 text-right">
          <ion-button [disabled]="!forgot.valid" (click)="submitforgotemail()">
            <p class="pt-1 submit-btn-txt" slot="start">Submit</p>
          </ion-button>
        </div>
      </form>
      <!--forgot password form end-->
    </ion-card-content>
  </ion-card>
</ion-content>