.hydrated {
  height: 100vh !important;
}
@media (min-width: 992px) {
  .destop-view {
    display: block;
  }
}

@media (min-width: 1025px) {
  .destop-view {
    margin-right: -1.5rem;
  }
}

@media (width: 768px) {
.ipad{
   width: fit-content !important;
   padding-left: 1.5rem;
  }
}