<div class="col-xs-3 visible-xs leftMobileMenuPVT" [class.menuOverlay]="isMenuOpenFlag">
  <div class="mobileMenu">
    <div class="inner onclick-menu">
      <div class="spinner-master">
        <input type="checkbox" class="ced" id="spinner-form" (change)="toggleMenu($event)" />
        <label for="spinner-form" class="spinner-spin">
          <div class="spinner diagonal part-1"></div>
          <div class="spinner horizontal"></div>
        <div class="spinner diagonal part-2"></div></label>
        <span *ngIf="!isMenuOpenFlag" class="badge notificationBadge">{{notificationCount}}</span>
        <ul class="mobileMenuContent" *ngIf="isUserAccountMenuFlag===true && userGrp">
          <div class="onclick-menu-content">
              <li *ngIf="!showDashboard" (click)="goBack()" class="backMenu"><i class="fa fa-angle-left faic"></i><span>{{'NCPLabel.back' | translate}} </span></li>
              <li><a (click)="logoutUser()"><span>  {{'NCPLabel.logout' | translate}}</span></a></li>
              <li><a (click)="navigateRouterLink('/ncp/userprofile');closeMenu();"><span>  {{'NCPLabel.profile' | translate}}</span></a></li>
              <li><a (click)="navigateRouterLink('/ncp/FAQ');closeMenu();"><span> {{'NCPLabel.portalUserGuide' | translate}}</span></a></li>
          </div>
        </ul>
        <div *ngIf="isMenuOpenFlag && !isUserAccountMenuFlag">
          <span *ngIf ="roleId !== 'ADM'">  
              <ncp-dataSync></ncp-dataSync>
          </span>
          <ncp-usernotification></ncp-usernotification>
        </div>
        <ul *ngIf="isUserAccountMenuFlag===false" class="mobileMenuContent">
          <div class="onclick-menu-content">
            <div *ngIf="userGrp">
              <li (click)="showUserAccountMenu()">
                  <div class="loginUserName"><span>{{loginUserName}}</span><i class="fa fa-angle-right faic"></i></div>
              </li>
            </div>
              <li *ngIf="!showDashboard" (click)="goBack()" class="backMenu"><i class="fa fa-angle-left faic"></i><span>{{'NCPLabel.back' | translate}}</span></li>
            <li *ngFor="let mainmenus of menujsondata">
                <a *ngIf="mainmenus.url && !mainmenus.child && isDisplayMenu(mainmenus.productCode,mainmenus.isProductCheck);" (click)="navigateRouterMenu(mainmenus);closeMenu()" [attr.id]=mainmenus.id>
                  <span><i class={{mainmenus.imageName}} [attr.id]=mainmenus.id></i> {{mainmenus.name | translate}}</span>
              </a>
              <a *ngIf="!mainmenus.url && mainmenus.child" (click)="changeLevel(mainmenus.child)" [attr.id]=mainmenus.id>
                  <span><i class={{mainmenus.imageName}}></i> {{mainmenus.name | translate}}</span><i class="fa fa-angle-right faic"></i>
              </a>
              <a *ngIf="!mainmenus.url && !mainmenus.child" [attr.id]=mainmenus.id>
                  <span><i class={{mainmenus.imageName}}></i> {{mainmenus.name | translate}}</span>
              </a>
            </li>
          </div>
        </ul>
      </div>
    </div>
    <!-- <div class="menuOverlay" *ngIf="isMenuOpenFlag"></div> -->
  </div>

</div>


<div class="col-md-2 col-sm-4 col-xs-12 rightMenuContainer">
  <button class="navbar-toggler rightMenuCollapse" type="button" data-toggle="collapse" data-target="main-menu" aria-controls="main-menu"
    aria-expanded="true" (click)="isCollapsed = !isCollapsed;toggle()">
    <i class="fa fa-bars"></i>
  </button>
  <div class="collapse rightMenuCollapseContainer" id="main-menu" style="" [attr.aria-expanded]="isExpanded" [attr.aria-hidden]="isCollapsed"
    [class.collapse]="isCollapse" [ngClass]="{'show' : !isCollapsed}">
    <h4 class="h4">Collapsed Content</h4>
    <ul class="rightMenuListContainer">
      <li class="rightMenuList">Toggleable via the navbar brand.</li>
    </ul>
  </div>
</div>
<div class="col-md-8 col-sm-3 hidden-xs centerLogoContainer">
    <img src="{{brandingJson['anotherLogoImgSrc']}}" alt="{{brandingJson['header_img']}}">
  </div>
<div class="col-xs-6 col-md-2 col-sm-3 navHeader">

    <div class="col-sm-12 col-md-12 hidden-xs pl0 navbarLogoRTL">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">{{'NCPHeader.togglenavigation' | translate}}</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" (click)="navigateHome()">
          <img src="{{brandingJson['img_src']}}" class="img-responsive" alt="{{brandingJson['header_img']}}">
        </a>
      </div>
    </div>
  
    <div class="mblLogoContainer">
    <a (click)="navigateHome()"><img src="{{brandingJson['img_src']}}" alt="{{brandingJson['header_img']}}"></a>
    </div>
  </div>