<!-- <ion-toolbar class="top-header"></ion-toolbar> -->
<ion-content class="disable-background ion-padding">
    <ion-card class="reset-card ion-padding">
        <ion-item-divider class="pb-3">
            <div class="signUpLogo">
                <img src="./assets/imgs/logo.png" alt="Logo">
            </div>
        </ion-item-divider>
        <div class="mx-auto text-center pt-3">
            <h1 class="auth-header">Reset password</h1>
        </div>
        <!-- Form for Password and Confirm Password -->
        <form [formGroup]="loginForm">
            <label>New password</label><i class="fas fa-asterisk form-asterisk"></i>
            <div class="show-password w-100">
                <input [type]="isShowPassword ? 'text' : 'password'" type="password" class="form-control"
                    formControlName="password" minlength="4" maxlength="20" autocomplete="new-password"
                    pattern='^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[\w~@#$%^&*+=`|{}:;!.?\"()\[\]-]{8,16}$' minlength="8" maxlength="16" />
                <ion-icon class="eye-icon" (click)="togglePasswordFieldType()"
                    [name]="isShowPassword ? 'eye' : 'eye-off'">
                </ion-icon>
            </div>
            <div class="text-danger"
                *ngIf="loginForm.get('password').hasError('required') && (loginForm.get('password').dirty || loginForm.get('password').touched)">
                <small>Password required.</small>
            </div>
            <div class="text-danger"
                *ngIf="loginForm.get('password').hasError('pattern') && (loginForm.get('password').value).length >= 4">
                <small>Min 8 characters, 1 uppercase, 1 lowercase and 1 number.</small>
            </div>

            <label>Confirm password</label><i class="fas fa-asterisk form-asterisk"></i>
            <div class="show-password w-100">
                <input [type]="isShow ? 'text' : 'password'" formControlName="confirmpassword" class="form-control"  onpaste="return false"
                    type="password" minlength="8" maxlength="16" autocomplete="new-password" />
                <!-- <ion-icon class="eye-icon" (click)=" toggleConfirmPasswordField()" [name]="isShow ? 'eye' : 'eye-off'">
                </ion-icon> -->
            </div>
            <div class="text-danger"
                *ngIf="loginForm.get('confirmpassword').hasError('required') && (loginForm.get('password').value).length >= 4 && (loginForm.get('confirmpassword').dirty || loginForm.get('confirmpassword').touched)">
                <small>Confirm password required.</small>
            </div>
            <!-- Error message for matching the password and confirm password -->
            <div class="text-danger"
                *ngIf="!loginForm.get('confirmpassword').hasError('required') && loginForm.hasError('passwordNotMatch') && (loginForm.get('confirmpassword').dirty || loginForm.get('confirmpassword').touched)">
                <small>Password and confirm password should match.</small>
            </div>

            <div class="text-right mt-4">
                <ion-button [disabled]="!loginForm.valid" (click)="resetPassword()">
                    <p class="pt-3 submit-btn-txt" slot="start">Reset</p>
                    </ion-button>
            </div>
        </form>
        <!-- Form Ends -->
    </ion-card>
</ion-content>