<form [formGroup]="resetPasswordForm" (ngSubmit)="changePassword(resetPasswordForm.value)" class="form-signin loginForm"
 autocomplete="off">

	<ncp-modal [modalKey]="resretPassword" modalClass="modal-lg" [closeOnEscape]="false" [closeOnOutsideClick]="false" modalTitle="NCPBtn.changePassword"
	 titleIcon="fa fa-lock" hideCloseButton=true>

		<modal-content>
			<fieldset>
				<div class="row">
					<div class="col-md-3 col-sm-3 col-xs-12 label-col">
						<label>{{"NCPLabel.newPassword" | translate}}</label>
					</div>
					<div class="col-sm-8 col-xs-12">
						<span class="">
							<input class="form-control" (keyup)="passwordStrength($event)" formControlName="user_password" name="user_password" required
							 autofocus type="password" autocomplete="off">
						</span>
						<div *ngIf="resetPasswordForm.controls.user_password.errors?.required && resetPasswordForm.controls.user_password.touched"
						 class="alert alert-danger">
							{{"NCPLabel.passwordRequired" | translate}}
						</div>
					</div>
				</div>
				<div class="ml27p mt-10">
					<ncp-password-strength-bar [passwordToCheck]="acceptPassword">
					</ncp-password-strength-bar>
				</div>
				<div class="row">
					<div class="col-md-3 col-sm-3 col-xs-12 label-col">
						<label>{{"NCPLabel.confirmNewPassword" | translate}}</label>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12 pr-sm-0 passwordContainer" (mouseover)=" resetPasswordForm.controls.confirm_password.value ? isPasswordIcon = true: isPasswordIcon= false"
					 (mouseleave)="isPasswordIcon = false;mousedown = false">
						<input class="form-control vfr" (keyup)="passwordMismatch()" type="password" formControlName="confirm_password" name="confirm_password"
						 required autofocus autocomplete="off" [type]="mousedown ? 'text' : 'password'" customFlag=true>
						<i *ngIf="isPasswordIcon && !mousedown" class="fa fa-eye viewPassword" (mousedown)="mousedown = true"></i>
						<i *ngIf="isPasswordIcon && mousedown" class="fa fa-eye viewPassword" (mouseup)="mousedown = false"></i>
						<div *ngIf="!passwordMatch" class="alert alert-danger">{{"NCPLabel.passwordsMismatch" | translate}}</div>
					</div>
				</div>
				<div *ngIf="isModalError" class="alert alert-danger">
					<ul *ngFor="let error of modalErrors">
						<li>
							{{error.errDesc}}
						</li>
					</ul>
				</div>

				<div *ngIf="success" class="alert alert-success">
					{{"NCPLabel.PasswordChangedSuccessfully" | translate}}
				</div>

				<div class="btns-row">
					<div  *ngIf="!success" class="btnContainer">
						<button class="ncp-linkBtn" type="button" data-dismiss="modal" (click)="resretPassword = false">{{"NCPBtn.close" | translate}}</button>
					</div>
					<div *ngIf="!success" class="btnContainer">
						<button class="ncpbtn-default" type="submit" [disabled]="!(resetPasswordForm.valid && passwordMatch)">{{"NCPBtn.changePassword" | translate}}</button>
					</div>
					<div  *ngIf="success" class="btnContainer">
						<button class="ncp-linkBtn" type="button" data-dismiss="modal" (click)="redirectToLogin()">{{"NCPBtn.close" | translate}}</button>
					</div>
				</div>
			</fieldset>
		</modal-content>

	</ncp-modal>
</form>