<div class="col-xs-12 col-md-12 col-sm-12 p0">
    <div class="setting-icon" *ngIf="setTableFlag">
      <a data-toggle="modal" (click)="showHideColumnModal.open()" class="filterimg">
        <i class="settingsIcon fa gearIcon"></i>
      </a>
    </div>
    <div class="setting-icon" *ngIf="setTableFlag">
      <a data-toggle="modal" (click)="customerListEditView.open()" class="filterimg">
        <i class="settingsIcon fa filterIcon"></i>
      </a>
    </div>
    <div class="col-md-2 col-sm-12 col-xs-12  conf" *ngIf="setTableFlag">
      <input class="forconf" [(ngModel)]="searchId" placeholder="{{'NCPBtn.search' |translate}}">
    </div>
  </div>
  <div class="filterac col-xs-12 col-md-12 col-sm-12 p0">
    <div *ngIf="setTableFlag">
      <table class="sortable-theme-bootstrap">
        <thead>
          <tr>
            <th *ngFor="let header of tableDetails;let i=index" [class]="selectedClass(header.mapping)" (click)="changeSorting(header.mapping);rotateFlag === i ? rotateFlag='':rotateFlag=i;"
              [attr.data-title]="header.header | translate">
              <span class="labelHeader">{{header.header | translate}}</span>
              <i class="icon-arrow-d indexicon" [class.rotate]="rotateFlag === i"></i>
            </th>
            <th class="actionCol">
              <span class="labelHeader">{{'NCPLabel.Action' | translate}}</span>
  
            </th>
          </tr>
        </thead>
        <tbody>
          <!--orderBy pipe should  follow searchBy pipe to avoid filter sorting Issue-->
          <tr *ngFor="let object of CustomerDetailsTableData  | searchBy : searchId : tableDetails | orderBy : convertSorting(); let rowIndex=index" id="tabhide">
            <td *ngFor="let mappings of tableDetails" [attr.data-title]="mappings.header | translate">
              <span> {{object[mappings.mapping]}}</span>
            </td>
            <td class="actionCol">
  
              <!--<button type=radio name="button" class="fa fa-gear showPopover indexrecus" tooltipPlacement="left" [tooltip]="myTooltip"
                [tooltipHide]="tooltipHide" tooltipClick=true (click)=" myTooltip.show();setCurrentTooltip(myTooltip);" tooltipHide="true">
                </button>-->
              <span>
                <i class="fa fa-gear showPopover indexrecus" tooltipPlacement="left" [tooltip]="myTooltip" [tooltipHide]="tooltipHide" tooltipClick=true  [id]="'custListTooltip'+rowIndex"></i>
              </span>
              <tooltip-content #myTooltip [excludeId]="'custListTooltip'+rowIndex">
                <h3 class="popover-title">&nbsp;
                  <a class="close" (click)="tooltipHide = myTooltip.hide()">
                    <i class="icon-alert"></i>
                  </a>
                </h3>
                <div class="popover-content">
                  <div>
                    <ul>
                      <li>
                        <a (click)="getUserDetailByPolicyNumberView(object.customerID,object.clientFirstName,object.clientMobile,object.clientEmail); tooltipHide = true">
                          <i class="fa fa-external-link-square iconAnchorLink"></i>
                          <span class="labelAnchorLink">{{'NCPLabel.viewQuote' | translate}}</span>
                        </a>
                      </li>
                      <li>
                        <a (click)="getUserDetailByPolicyNumberEdit(object.customerID,object.clientFirstName,object.clientMobile,object.clientEmail); tooltipHide = true">
                          <i class="fa fa-pencil iconAnchorLink"></i>
                          <span class="labelAnchorLink">{{'NCPLabel.editDetails' | translate}}</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </tooltip-content>
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="!disableShowMoreButton">
        <div class="col-centered mtb20">
  
          <button-field buttonType="custom" buttonName="NCPBtn.showMore" buttonClass="ncpbtn-default text-capitalize" (click)='getCustomerDataByLazyLoading()'
            iconClass="fa fa-arrow-down">
          </button-field>
        </div>
  
      </div>
    </div>
  </div>
  
  <div *ngIf="setPersonalDetailButtonFlag" class="customerViewBlock">
    <div class="row ml0 mr0 mb0">
      <div class="bannerSection pull-left">
        <div class="col-md-3 col-sm-3 col-xs-12 pull-right hide">
          <div class="col-md-10 col-sm-10 col-xs-12 mt10 pull-right">
            <input *ngIf="enableUpdateButton" class="customFileBtn fa fa-pencil" type='file' (change)="imageUploaded($event)" />
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12 mt10">
            <input *ngIf="enableUpdateButton" class="btn-7" value="Remove Photo" type='button' (click)="deletePhoto()" />
          </div>
        </div>
        <div class="bannerDetails">
          <!--<h2 class="mt20 mb10 theme-color"><i class="fa fa-user iconHeader"></i><span class="labelHeader">{{this.personalDetailsFormGroup.controls['customerInfo'].get('appFName').value}}</span></h2>-->
          <div class="row customerBg">
            <div class="col-md-2 col-sm-3 col-xs-4">
              <div class="customerBannerImg">
                <img class="userImage img-responsive" [src]="imageSrc" alt="Customer Photo" />
                <div *ngIf="enableUpdateButton" class="customerImgContainer">
                  <div class="editIconicBtnContainer" (change)="imageUploaded($event)">
                    <input type='file' class="customFileBtn editIconicBtn"  />
                    <i class="fa fa-pencil iconicBtn customFileBtn"></i>
                  </div>
                  <div class="deleteIconicBtnContainer" (click)="deletePhoto()">
                    <i class="fa fa-trash iconicBtn customFileBtn"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-7 col-sm-9 col-xs-8 bannerText pr-xs-0">
              <misc-h1 miscClass="mt20 mb10" iconClass="fa fa-user" [label]="this.personalDetailsFormGroup.controls['customerInfo'].get('appFName').value"></misc-h1>
              <ol class="ul-css">
                <li>
                  <a href="tel: +91 987654321">
                    <i class="fa fa-mobile-phone iconAnchorLink"></i>
                    <span class="labelAnchorLink">{{this.personalDetailsFormGroup.controls['customerInfo'].get('mobilePh').value}}</span>
                  </a>
                </li>
                <li>
                  <a href="mail: abc@nttdata.com">
                    <i class="glyphicon glyphicon-envelope iconAnchorLink"></i>
                    <span class="labelAnchorLink">{{this.personalDetailsFormGroup.controls['customerInfo'].controls['emailId'].value}}</span>
                  </a>
                </li>
              </ol>
            </div>
  
          </div>
        </div>
      </div>
    </div>
    <div class="pull-left pb0 PageContainer">
      <div class="pageInnerContainer">
        <div class="row mlr0-i">
        <div class="col-md-1 col-sm-2 col-xs-12 plr0">
            <!--<div class="d-inlineBlock w100p">   
            <div class="pull-right">
              <a  class="ncp-btn1 btn-1 btn-1a fs20 p5"><i class="fa fa-sliders"></i></a>
            </div>
            <div class="pull-right">
            <a  (click)="dashboardFlag()" class="ncp-btn1 btn-1 btn-1a fs20 p5 mr5"><i class="glyphicon glyphicon-home"></i></a>
          </div>
        </div>-->
            <aside>
              <ul class="leftSideBar">
                <li [class]="isDashboardActive">
                  <a (click)="dashboardFlag()" title="{{'NCPBreadCrumb.dashBoard' | translate}}">
                    <i class="fa fa-clone"></i>
                    <span>Dashboard</span>
                  </a>
                </li>
                <li [class]="isTimelineActive">
                  <a (click)="timelineFlag()" title="Interaction">
                    <i class="fa fa-bandcamp"></i>
                    <span>{{'NCPLabel.interaction' | translate }}</span>
                  </a>
                </li>
                <li [class]="isPersonalDetailActive">
                  <a (click)="personalDetailFlag()" title="{{'NCPLabel.client' | translate}}">
                    <i class="fa fa-user"></i>
                    <span>{{'NCPLabel.client' | translate}}</span>
                  </a>
                </li>
                <li [class]="isPolicyDetailActive">
                  <a (click)="policyDetailFlag()" title="{{'NCPLabel.policies' | translate}}">
                    <i class="fa fa-paste"></i>
                    <span>{{'NCPLabel.policies' | translate}}</span>
                  </a>
                </li>
                <!--<li [class]="isSuggestedDetailActive">
                <a (click)="suggestedDetailFlag()" >Suggested Products</a>
              </li>-->
                <li [class]="isContactDetailActive">
                  <a (click)="contactDetailFlag();contactDetailValidation()" title="Contact Customer">
                    <i class="fa fa-address-book-o"></i>
                    <span>{{'NCPLabel.contact' | translate }}</span>
                  </a>
                </li>
              </ul>
            </aside>
          </div>
        <div class="mblDropdownContainer customSelect">
              <div class="defaultSelectOption form-control" (click)="toggleFlag = !toggleFlag">
                  <i class="mblDropdownIcon icon-document"></i>
                  <span *ngIf="clickedItem=='default'" class="mblDropdownLabel" >{{'NCPBreadCrumb.dashBoard' | translate}}</span>
                  <span *ngIf="clickedItem=='dashboard'" class="mblDropdownLabel">{{'NCPBreadCrumb.dashBoard' | translate}}</span>
                  <span *ngIf="clickedItem=='interaction'" class="mblDropdownLabel">{{'NCPLabel.interaction' | translate}}</span>
                  <span *ngIf="clickedItem=='client'" class="mblDropdownLabel">{{'NCPLabel.client' | translate}}</span>
                  <span *ngIf="clickedItem=='policies'" class="mblDropdownLabel">{{'NCPLabel.policies' | translate}}</span>
                  <span *ngIf="clickedItem=='contact'" class="mblDropdownLabel">{{'NCPLabel.contact' | translate}}</span>
                  <i class="icon-arrow-d dropdown-da" [class.rotate]="toggleFlag"></i>
              </div>
              <ul name="" id="" class="mblDropdownList Dropdown1" [class.show]="toggleFlag" (mouseleave)="toggleFlag =false;">
                <li value="" (click)="toggleFlag =false; dashboardFlag(); clickedItem='dashboard'" class="mblDropdownListItems">
                  <i class="fa fa-clone mblDropdownIcon"></i>
                  <span class="mblDropdownLabel">{{'NCPBreadCrumb.dashBoard' | translate}}</span>
                </li>
                <li value=""(click)="toggleFlag =false; timelineFlag(); clickedItem='interaction'"  title="Interaction" class="mblDropdownListItems">
                  <i class="fa fa-bandcamp mblDropdownIcon"></i>
                  <span class="mblDropdownLabel">{{'NCPLabel.interaction' | translate }}</span>
                </li>
                <li value="" (click)="toggleFlag =false; personalDetailFlag(); clickedItem='client'"  title="{{'NCPLabel.client' | translate}}" class="mblDropdownListItems">
                  <i class="fa fa-user mblDropdownIcon"></i>
                      <span class="mblDropdownLabel">{{'NCPLabel.client' | translate}}</span>
                </li>
                <li value="" (click)="toggleFlag =false; policyDetailFlag(); clickedItem='policies'"  title="{{'NCPLabel.policies' | translate}}"  class="mblDropdownListItems">
                  <i class="fa fa-paste mblDropdownIcon"></i>
                  <span class="mblDropdownLabel">{{'NCPLabel.policies' | translate}}</span>
                </li>
                <li value="" (click)="toggleFlag =false; contactDetailFlag(); clickedItem='contact'"  title="Contact Customer" class="mblDropdownListItems">
                  <i class="fa fa-address-book-o mblDropdownIcon"></i>
                  <span class="mblDropdownLabel">{{'NCPLabel.contact' | translate }}</span>
                </li>
              </ul>
            </div>
          <div class="col-md-11 col-sm-10 col-xs-12 plr0">
            <div class="customerDashboard CustomerPolicyBlock">
              <div [formGroup]="personalDetailsFormGroup">
                <div formGroupName="customerInfo">
                  <div class="row rowWithNoMarginBottom">
                    <div *ngIf="setDashboardFlag">
                      <div *ngIf="isCurrentQuote" class="hiddenInRBT">
                        <div class="row">
                          <div class="col-md-12 col-sm-12 col-xs-12">
                            <!--<h4><i class="icon-document iconHeader"></i><span class="labelHeader">{{'NCPLabel.currentQuote' | translate}}</span></h4>-->
                            <misc-h4 iconClass="icon-document" [label]="'NCPLabel.currentQuote'"></misc-h4>
                          </div>
                        </div>
                        <div class="pl15 mt10">
                          <quote-enquiry [quoteActivityIconsClassNames]="quoteActivityIconsClassNames" [quoteActivityMapping]="quoteActivityMapping"
                            [quoteActivityHeader]="quoteActivityHeader" [tableData]="retrieveCustomerQuoteDetailsResponse">
                          </quote-enquiry>
                        </div>
                      </div>
                      <div class="row rowWithNoMarginBottom">
                        <favorite-FavoriteComponent label="NCPLabel.suggestedProducts"></favorite-FavoriteComponent>
                      </div>
                      <div class="row">
                        <div class="customerMediaIcons pl15 pl-xs-0">
  
                          <!--<h3 class="mt5 bt1"><i class="icon-document iconHeader"></i><span class="labelHeader">{{'NCPLabel.socialMedia' | translate}}</span></h3>-->
                          <misc-h3 miscClass="mt5" iconClass="icon-document" [label]="'NCPLabel.socialMedia'"></misc-h3>
                          <a>
                            <i class="fa fa-facebook-square"></i>
                          </a>
                          <a>
                            <i class="fa fa-linkedin-square"></i>
                          </a>
                          <a>
                            <i class="fa fa-twitter-square"></i>
                          </a>
                          <a>
                            <i class="fa fa-google-plus-square"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                    <tab-error [displayFlag]="isCustomer" errorMessage="NCPErrorMessage.pleaseCorrectErrorsBelow">
                    </tab-error>
                    <div *ngIf="setPersonalDetailFlag">
                      <div class="row mlr0-i mb0">
                        <!--<h4><i class="icon-document iconHeader"></i><span class="labelHeader">{{'NCPLabel.client' | translate}}</span></h4>-->
                        <misc-h4 iconClass="icon-document" [label]="'NCPLabel.client'"></misc-h4>
                        <div class="col-md-12 col-sm-12 col-xs-12 p0">
                          <div *ngIf="policyHolderTypeFlag">
                            <div class="row">
                          <ncp-label elementLabel="NCPLabel.IdentificationType" mandatoryFlag=true></ncp-label>
                          <drop-down elementId="IdentityType" miscSubType="PATP" miscType="MiscInfo" pickListFlag=true formControlName="identityTypeCode"
                            customFlag=true dropdownClass="col-sm-7 col-md-5 col-xs-11 pr0" isCodeDesc=true [descControl]="personalDetailsFormGroup.controls['customerInfo'].controls['identityTypeDesc']"
                            ngDefaultControl elementLabel="NCPLabel.IdentificationType" mandatoryFlag=true displayOnClick=true>
                          </drop-down>
                        </div>
                          <div class="row">
                          <ncp-label elementLabel="NCPLabel.identityNo" mandatoryFlag=true></ncp-label>
                          <text-box [inputType]="text" formControlName=identityNo customFlag="true" textBoxClass="col-sm-7 col-md-5 col-xs-11 pr0" elementLabel="NCPLabel.identityNo" mandatoryFlag=true (change)="doCustomerRefresh()"></text-box>
                          <!--<div class="col-xs-2 col-md-1 col-sm-1 p0 refreshBtnRTL">
                            <i *ngIf="editFlag" class="iconicBtn glyphicon glyphicon-refresh pull-right" (click)="doCustomerRefresh();"></i>
                          </div>-->
                        </div>
                          <div class="row">
                              <ncp-label elementLabel="NCPLabel.prefix" elementId="prefixLabel" mandatoryFlag="true">
                              </ncp-label>
                              <drop-down elementId="prefix" customFlag=true dropdownClass="col-sm-7 col-md-5 col-xs-11 pr0"
                                    formControlName="prefix" [dropdownItems]="prefixItems" isCodeDesc=true [descControl]="personalDetailsFormGroup.controls['customerInfo'].controls['prefixDesc']"  displayOnClick=true elementLabel="NCPLabel.prefix" mandatoryFlag="true" ngDefaultControl>
                              </drop-down>
                            </div>
                            <div class="row">
                              <ncp-label elementLabel="NCPLabel.firstName" mandatoryFlag=true></ncp-label>
                              <text-box [inputType]="text" formControlName=appFName customFlag=true textBoxClass="col-sm-7 col-md-5 col-xs-11 pr0" elementLabel="NCPLabel.firstName" mandatoryFlag=true></text-box>
                            </div>
                            <error-handler [elementControl]="personalDetailsFormGroup.controls['customerInfo'].controls['appFName']" [customMessages]="{ required: 'NCPLabelcustomMessages.holderFirstname', maxSize: 'NCPLabelcustomMessages.maxSizeholderFirstname'}">
                            </error-handler>
                            <!--<div class="row">
                          <div class="col-md-4 col-sm-4 col-xs-12">
                            <ncp-label elementLabel="NCPLabel.policyholderMiddlename"></ncp-label>
                          </div>
                          <div class="col-md-8 col-sm-8 col-xs-12">
                            <div class="form-check disabled">
                              <text-box [inputType]="text" formControlName=appMName ></text-box>
                            </div>
                          </div>
                        </div>-->
                            <div class="row">
                              <ncp-label elementLabel="NCPLabel.lastName" mandatoryFlag=true></ncp-label>
                              <text-box [inputType]="text" formControlName=appLName customFlag=true textBoxClass="col-sm-7 col-md-5 col-xs-11 pr0" elementLabel="NCPLabel.lastName" mandatoryFlag=true></text-box>
                            </div>
                            <error-handler [elementControl]="personalDetailsFormGroup.controls['customerInfo'].controls['appLName']" [customMessages]="{ required: 'NCPLabelcustomMessages.holderLastname', maxSize: 'NCPLabelcustomMessages.maxSizeholderFirstname'}">
                            </error-handler>
  
                            <div class="row">
                              <ncp-label elementLabel="NCPLabel.maritalStatus"></ncp-label>
                              <button-radio buttonRadioId1="NCPLabel.single" buttonRadioId2="NCPLabel.married" buttonValue1="I" buttonValue2="O" connectorName="NCPLabel.or"
                                customFlag=true buttonradioCustomClass="col-sm-7 col-md-5 col-xs-11 pr0" formControlName=maritalStatus elementLabel="NCPLabel.maritalStatus">
                              </button-radio>
                            </div>
                          </div>
  
                          <div *ngIf="!policyHolderTypeFlag">
                            <div class="row">
                              <ncp-label elementLabel="NCPLabel.companyName" mandatoryFlag=true></ncp-label>
                              <text-box [inputType]="text" formControlName=companyName customFlag=true textBoxClass="col-sm-7 col-md-5 col-xs-11 pr0" elementLabel="NCPLabel.companyName" mandatoryFlag=true></text-box>
                            </div>
  
  
                            <div class="row">
                              <ncp-label elementLabel="NCPLabel.companyRegistrationNumber" mandatoryFlag=true></ncp-label>
                              <text-box [inputType]="text" formControlName=companyRegNumber customFlag=true textBoxClass="col-sm-7 col-md-5 col-xs-11 pr0" elementLabel="NCPLabel.companyRegistrationNumber" mandatoryFlag=true></text-box>
                            </div>
                            <error-handler [elementControl]="personalDetailsFormGroup.controls['customerInfo'].controls['companyRegNumber']" [customMessages]="{required: 'NCPLabelcustomMessages.reqcompanyRegName', maxSize: 'NCPLabelcustomMessages.maxSizecompanyRegName'}">
                            </error-handler>
  
                            <div class="row">
                              <ncp-label elementLabel="NCPLabel.trade/Business" mandatoryFlag=true></ncp-label>
                              <drop-down elementId="tradeID" miscSubType="IND" miscType="MiscInfo" pickListFlag=true formControlName="occupationCode" isCodeDesc=true
                                customFlag=true dropdownClass="col-sm-7 col-md-5 col-xs-11 pr0" [descControl]="personalDetailsFormGroup.controls['customerInfo']['controls']['occupationDesc']"
                              elementLabel="NCPLabel.trade/Business" mandatoryFlag=true ngDefaultControl displayOnClick=true>
                              </drop-down>
                            </div>
                          </div>
  
                          <div class="row" contenteditable="false">
                            <ncp-label elementLabel="NCPLabel.homePhone" mandatoryFlag=true></ncp-label>
                            <multicontact-number elementId="homePhone" showCodeFlag="true" textelementwidth="8" dropElementWidth="4"
                              customFlag=true customNcpContactClass="col-sm-7 col-md-5 col-xs-11 pr0" formControlName="mobilePh"
                              [elementControlhome]="personalDetailsFormGroup.controls['customerInfo']['controls']['homePh']"
                              [elementControloffice]="personalDetailsFormGroup.controls['customerInfo']['controls']['officePhone']"
                              [elementControlfax]="personalDetailsFormGroup.controls['customerInfo']['controls']['fax']" acceptPattern="^[0-9]*$" elementLabel="NCPLabel.homePhone" mandatoryFlag=true>
                            </multicontact-number>
                          </div>
                          <error-handler [elementControl]="personalDetailsFormGroup.controls['customerInfo'].controls['mobilePh']" [customMessages]="{required: 'NCPLabelcustomMessages.reqhomePh', maxlength: 'NCPLabelcustomMessages.maxSizeHomeno'}">
                          </error-handler>
                          <div class="row">
                            <ncp-label elementLabel="NCPLabel.contactEmail" mandatoryFlag=true></ncp-label>
                            <text-box [inputType]="text" formControlName=emailId customFlag=true textBoxClass="col-sm-7 col-md-5 col-xs-11 pr0" elementLabel="NCPLabel.contactEmail" mandatoryFlag=true></text-box>
                          </div>
                          <error-handler [elementControl]="personalDetailsFormGroup.controls['customerInfo'].controls['emailId']" [showErrorOnBlur]=true
                            [customMessages]="{ required:'NCPLabelcustomMessages.pleaseEnterYourEmailid',mailFormat: 'NCPLabelcustomMessages.pleaseEnterValidEmailId'}">
                          </error-handler>
                          <div *ngIf="policyHolderTypeFlag" class="row">
                            <ncp-label elementLabel="NCPLabel.dateOfBirth" mandatoryFlag=true></ncp-label>
                            <dateof-birth formControlName="DOB" [ageControl]="personalDetailsFormGroup.controls['customerInfo'].controls['age']" ngDefaultControl
                              customFlag=true dobCustomClass="col-sm-7 col-md-5 col-xs-11 pr0" elementLabel="NCPLabel.dateOfBirth" mandatoryFlag=true></dateof-birth>
                          </div>
                          <error-handler [elementControl]="personalDetailsFormGroup.controls['customerInfo'].controls['DOB']" [customMessages]="{minNumber: 'NCPLabelcustomMessages.minnumberAge'}">
                          </error-handler>
  
                        
        
                          <div class="col-md-12 col-sm-12 col-xs-12">
                            <error-handler [elementControl]="personalDetailsFormGroup.controls['customerInfo'].controls['identityNo']" [customMessages]="{required: 'NCPLabelcustomMessages.reqIdentityNo', maxlength: 'NCPLabelcustomMessages.maxIdentityNo'}">
                            </error-handler>
                          </div>
  
                          <div class="row" *ngIf="showPostalCode">
                            <ncp-label elementLabel="NCPLabel.postalCode" mandatoryFlag=true></ncp-label>
                            <text-box [inputType]="text" [acceptPattern]="zipCodePattern" formControlName=zipCd (change)="doPostalCodeRefresh();" customFlag=true textBoxClass="col-sm-6 col-md-4 col-xs-9 pr-sm-0 refreshTextRTL" elementLabel="NCPLabel.postalCode" mandatoryFlag=true></text-box>
                              <div class="col-xs-2 col-md-1 col-sm-1 p0 refreshBtnRTL">
                                  <i *ngIf="editFlag" class="iconicBtn glyphicon glyphicon-refresh pull-right" (click)="doPostalCodeRefresh();"></i>
                                </div>
                          </div>
  
                        </div>
  
                        <error-handler [elementControl]="personalDetailsFormGroup.controls['customerInfo'].controls['zipCd']" [customMessages]="{required: 'NCPLabelcustomMessages.reqPostalCode', maxlength: 'NCPLabelcustomMessages.zipcodeshouldnotexceed6digits'}">
                        </error-handler>
  
  
  
                        <div *ngIf="showMoreField">
                          <div class="row">
                            <ncp-label elementLabel="NCPLabel.apt/UnitNumber"  mandatoryFlag=true></ncp-label>
                            <text-box [inputType]="text" formControlName=appUnitNumber customFlag=true textBoxClass="col-sm-7 col-md-5 col-xs-11 pr0" elementLabel="NCPLabel.apt/UnitNumber"></text-box>
                          </div>
  
                          <div class="row">
                            <ncp-label elementLabel="NCPLabel.building/Block/HouseNumber"  mandatoryFlag=true></ncp-label>
                            <text-box [inputType]="text" formControlName=blockNumber customFlag=true textBoxClass="col-sm-7 col-md-5 col-xs-11 pr0" elementLabel="NCPLabel.building/Block/HouseNumber"></text-box>
                          </div>
                          <div class="row">
                            <ncp-label elementLabel="NCPLabel.streetName"></ncp-label>
                            <text-box [inputType]="text" formControlName=address1 customFlag=true textBoxClass="col-sm-7 col-md-5 col-xs-11 pr0" elementLabel="NCPLabel.streetName"></text-box>
                          </div>
  
                          <div class="row">
                            <ncp-label elementLabel="NCPLabel.areaName"></ncp-label>
                            <text-box [inputType]="text" formControlName=address2 customFlag=true textBoxClass="col-sm-7 col-md-5 col-xs-11 pr0" elementLabel="NCPLabel.areaName"></text-box>
                          </div>
  
                          <div class="row">
                            <ncp-label elementLabel="NCPLabel.city"></ncp-label>
                            <drop-down elementId="city" miscSubType="CIT" miscType="MiscInfo" pickListFlag=true formControlName="cityCode" isCodeDesc=true
                              customFlag=true dropdownClass="col-sm-7 col-md-5 col-xs-11 pr0" [descControl]="personalDetailsFormGroup.controls['customerInfo'].controls['cityDesc']"
                              displayOnClick=true ngDefaultControl elementLabel="NCPLabel.city">
                            </drop-down>
                          </div>
                          <div class="row">
                            <ncp-label elementLabel="NCPLabel.country"></ncp-label>
                            <drop-down elementId="country" miscSubType="CTRY" miscType="MiscInfo" pickListFlag=true formControlName="countryDesc" isCodeDesc=true
                              customFlag=true dropdownClass="col-sm-7 col-md-5 col-xs-11 pr0" [descControl]="personalDetailsFormGroup.controls['customerInfo'].controls['countryDesc']"
                              displayOnClick=true ngDefaultControl elementLabel="NCPLabel.country">
                            </drop-down>
                          </div>
                        </div>
  
  
                        <div class="btns-row mb20">
                          <div *ngIf="enableEditButton">
                            <button-field buttonType="custom" buttonClass="ncpbtn-default" buttonName="NCPBtn.edit" (click)='editCustomerDetail()' iconClass="fa fa-pencil"></button-field>
                          </div>
                          <div *ngIf="enableUpdateButton">
                            <button-field buttonType="custom" buttonName="NCPBtn.save" buttonClass="ncpbtn-default" (click)='updateCustomerDetail()'
                              iconClass="fa fa-save"></button-field>
                          </div>
                          <div *ngIf="enableShowMoreButton">
                            <button-field buttonType="custom" buttonClass="ncpbtn-default" buttonName="NCPBtn.showMore" (click)='showMoreButton()' iconClass="fa fa-arrow-down"></button-field>
                          </div>
                          <div *ngIf="!enableShowMoreButton">
                            <button-field buttonType="custom" buttonClass="ncpbtn-default" buttonName="NCPBtn.showLess" (click)='showLessButton()' iconClass="fa fa-arrow-up"></button-field>
                          </div>
  
                        </div>
                      </div>
                    </div>
                  </div>
  
                </div>
                <div *ngIf="setPolicyDetailFlag">
                  <!--<h4><i class=" iconHeader"></i><span class="labelHeader">{{'NCPLabel.currentPolicy' | translate}}</span></h4>-->
                  <misc-h4 [label]="'NCPLabel.currentPolicy'"></misc-h4>
                  <div class="row">
                    <!--<div class="DetailsBlock ">-->
                    <!--policy-->
  
                    <div *ngFor='let details of retrieveCustomerPolicyDetailsResponse;let i=index; let first=first' class="col-md-6 col-sm-6 col-xs-12 currentproducts pl0">
                      <accordion [closeOthers]="oneAtATime">
                        <accordion-group heading="{{details.productDesc}}  ({{details.policyNo}}-{{details.policyEndtNo}})" [isOpen]=first>
                          <div class="col-md-12 col-sm-12 col-xs-12 ptb10">
                            <!--<h5> <i class=" iconHeader"></i> <span class="labelHeader">{{details.productDesc}}</span></h5>-->
                            <misc-h5 [label]="details.productDesc"></misc-h5>
                          </div>
                          <div class="child-design">
                            <div class="row">
                              <div class="col-md-4 col-sm-12 col-xs-4 fwb">
                                <i class=" iconLabel"></i>
                                <span class="labelDisplay">{{'NCPLabel.policy' | translate}}: </span>
                              </div>
                              <div class="col-md-8 col-sm-12 col-xs-8">
                                {{details.policyNo}} {{details.status === 'PN' ? details.policyEndtNo : ''}}
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-4 col-sm-12 col-xs-4 fwb">
                                <i class=" iconLabel"></i>
                                <span class="labelDisplay">{{'NCPLabel.policyPeriod' | translate}}: </span>
                              </div>
                              <div class="col-md-8 col-sm-12 col-xs-8">
                                {{policyIssueDateFin[i] }} to {{policyExpiryDateFin[i] }}
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-4 col-sm-12 col-xs-4 fwb">
                                <i class=" iconLabel"></i>
                                <span class="labelDisplay">{{'NCPLabel.policyType' | translate}}: </span>
                              </div>
                              <div class="col-md-8 col-sm-12 col-xs-8">
                                {{details.policyTermDesc}}
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-4 col-sm-12 col-xs-4 fwb">
                                <i class=" iconLabel"></i>
                                <span class="labelDisplay">{{'NCPLabel.Premium' | translate}}: </span>
                              </div>
                              <div class="col-md-8 col-sm-12 col-xs-8 customerPageAmtAlignRTL">
                                <misc-display label="{{details.netPremium}}" type="amount"></misc-display>
                              </div>
                            </div>
                          </div>
                          <ul>
                            <li *ngIf="details.status === 'PT'" (click)="doEndorse(details)" class="cursor-pointer">
                              <label>
                                <b>
                                  <i class=" iconToolTip"></i>
                                  <span class="labelToolTip">{{'NCPLabel.endorse' | translate}}</span>
                                </b>
                              </label>
                            </li>
                            <li *ngIf="details.status === 'PN'" (click)="doEdit(details)" class="cursor-pointer">
                              <label>
                                <b>
                                  <i class=" iconToolTip"></i>
                                  <span class="labelToolTip">{{'NCPLabel.editQuote' | translate}}</span>
                                </b>
                              </label>
                            </li>
                            <li (click)="documentView(details)" class="cursor-pointer">
                              <label>
                                <b>
                                  <i class=" iconToolTip"></i>
                                  <span class="labelToolTip">{{'NCPLabel.policyDocument' | translate}}</span>
                                </b>
                              </label>
                            </li>
                            <li *ngIf="details.status === 'PN'" class="cursor-pointer">
                              <label>
                                <b>
                                  <i class=" iconToolTip"></i>
                                  <span class="labelToolTip">{{'NCPLabel.notifyClaim' | translate}}</span>
                                </b>
                              </label>
                            </li>
                            <li *ngIf="details.status !== 'PN'" (click)="doNotifyClaim(details)" class="cursor-pointer">
                              <label>
                                <b>
                                  <i class=" iconToolTip"></i>
                                  <span class="labelToolTip">{{'NCPLabel.notifyClaim' | translate}}</span>
                                </b>
                              </label>
                            </li>
                          </ul>
                        </accordion-group>
                      </accordion>
                    </div>
                    <!--</div>-->
                  </div>
                </div>
                <!-- deleted Suggested products for the html refer 2180 svn revision -->
              </div>
  
  
  
              <div *ngIf="setContactDetailFlag">
                <div class="d-inlineBlock w100p">
                  <!--Contact contact details-->
					
				<div [formGroup]="personalDetailsFormGroup">
                  <div formGroupName="customerInfo">	
                  <h4 class="mt0">
                    <i class="fa fa-plane fs25 mr5 iconHeader"></i>
                    <span class="labelHeader">{{'NCPLabel.contactCustomer' | translate}}</span>
                  </h4>
                  <accordion [closeOthers]="oneAtATime">
                    <accordion-group heading="NCPLabel.emailId" isOpen="true">
                      <div class="row">
                        <ncp-label elementLabel="NCPLabel.from" mandatoryFlag=true></ncp-label>
                        <text-box formControlName="from" customFlag="true" textBoxClass="col-md-6 col-sm-8 col-xs-12" placeholder="From emailId" elementLabel="NCPLabel.from" mandatoryFlag=true></text-box>
                      </div>
					            <error-handler [elementControl]="personalDetailsFormGroup.controls['customerInfo'].controls['from']" [customMessages]="{required: 'NCPLabelcustomMessages.fromMandatory', mailFormat: 'NCPLabelcustomMessages.mailformat'}">
					            </error-handler>
                      <div class="row">
                        <ncp-label elementLabel="NCPLabel.contactEmail" mandatoryFlag=true></ncp-label>
                        <text-box  formControlName="emailId" placeHolder="emailId" [(ngModel)]="personalDetailsFormGroup.controls['customerInfo'].controls['emailId'].value" customFlag="true" textBoxClass="col-md-6 col-sm-8 col-xs-12" elementLabel="NCPLabel.contactEmail" mandatoryFlag=true readonly></text-box>
                      </div>
					            <error-handler [elementControl]="personalDetailsFormGroup.controls['customerInfo'].controls['emailId']" [customMessages]="{required: 'NCPLabelcustomMessages.contactEmailIdMandatory', mailFormat: 'NCPLabelcustomMessages.mailformat'}">
                      </error-handler>
                      <div class="row">
                        <ncp-label elementLabel="NCPLabel.ccAddress" mandatoryFlag=true></ncp-label>
                        <text-box formControlName="carbonCopy" customFlag="true" textBoxClass="col-md-6 col-sm-8 col-xs-12" placeholder="Carbon copy" elementLabel="NCPLabel.ccAddress" mandatoryFlag=true></text-box>
                      </div>
					            <error-handler [elementControl]="personalDetailsFormGroup.controls['customerInfo'].controls['carbonCopy']" [customMessages]="{required: 'NCPLabelcustomMessages.carbonCopyMandatory', mailFormat: 'NCPLabelcustomMessages.mailformat'}">
                      </error-handler>
                      <div class="row">
                        <ncp-label elementLabel="NCPLabel.subject" mandatoryFlag=true></ncp-label>
                        <text-box formControlName="emailSubject" customFlag="true" textBoxClass="col-md-6 col-sm-8 col-xs-12" placeholder="Subject" elementLabel="NCPLabel.subject" mandatoryFlag=true></text-box>
                      </div>
					            <error-handler [elementControl]="personalDetailsFormGroup.controls['customerInfo'].controls['emailSubject']" [customMessages]="{required: 'NCPLabelcustomMessages.emailSubjectMandatory'}">
                      </error-handler>
                      <div class="row">
                        <ncp-label elementLabel="NCPLabel.emailBody" mandatoryFlag=true></ncp-label>
                        <text-area formControlName="emailBody" contenteditable="true" placeholder="type your message here" customFlag="true" textareaClass="col-md-6 col-sm-8 col-xs-12" elementLabel="NCPLabel.emailBody" mandatoryFlag=true></text-area>
                      </div>
					            <error-handler [elementControl]="personalDetailsFormGroup.controls['customerInfo'].controls['emailBody']" [customMessages]="{required: 'NCPLabelcustomMessages.emailBodyMandatory'}">
                      </error-handler>
                      <div class="btns-row">
                        <button-field buttonName="NCPBtn.send" buttonType="custom" buttonClass="ncpbtn-default" iconClass="fa fa-share-square">
                        </button-field>
                      </div>
  
                    </accordion-group>
                    <accordion-group heading="NCPLabel.sms">
                      <div class="row">
                        <ncp-label elementLabel="NCPLabel.mobilePhone" mandatoryFlag=true></ncp-label>
                        <text-box  formControlName="mobilePh" placeHolder="emailId" [(ngModel)]="personalDetailsFormGroup.controls['customerInfo'].get('mobilePh').value" customFlag="true" textBoxClass="col-md-6 col-sm-8 col-xs-12" elementLabel="NCPLabel.mobilePhone" mandatoryFlag=true readonly></text-box>                      
                      </div>
					            <error-handler [elementControl]="personalDetailsFormGroup.controls['customerInfo'].controls['mobilePh']" [customMessages]="{required: 'NCPLabelcustomMessages.mobileNumberMandatory'}">
                      </error-handler>
                      <div class="row">
                        <ncp-label elementLabel="NCPLabel.textMessage" mandatoryFlag=true></ncp-label>
                        <text-area formControlName="textMessage" contenteditable="true" placeholder="type your message here" customFlag="true" textareaClass="col-md-6 col-sm-8 col-xs-12" elementLabel="NCPLabel.textMessage" mandatoryFlag=true></text-area>                      
                      </div>
					            <error-handler [elementControl]="personalDetailsFormGroup.controls['customerInfo'].controls['textMessage']" [customMessages]="{required: 'NCPLabelcustomMessages.textMessageMandatory'}">
                      </error-handler>
                      <div class="btns-row">
                        <button-field buttonName="NCPBtn.send" buttonType="custom" buttonClass="ncpbtn-default" iconClass="fa fa-share-square">
                        </button-field>
                      </div>
  
                    </accordion-group>
                  </accordion>
				            </div>
				          </div>
                </div>
              </div>
              <div>
                <div class="pt20 mb15" *ngIf="setTimelineFlag">
                  <misc-h2 miscClass="mt0" [label]="'NCPLabel.timeline'"></misc-h2>
                  <time-line [eventData]="eventData" [eventKey]="eventKey" [productCd]="eventProdCd"></time-line>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <modal-footer>
      <button-field buttonType="custom" buttonClass="ncpbtn-default mtb10 mlr15 mlr-xs-0" buttonName="NCPLabel.back" (click)='goBack()'
        iconClass="fa fa-close"></button-field>
    </modal-footer>
  </div>
  <ncp-modal #customerListEditView class="modalForm" [closeOnEscape]="false" [closeOnOutsideClick]="false" modalClass="modal-lg"
    modalTitle="NCPLabel.searchFilter" titleIcon="glyphicon glyphicon-wrench confed">
    <modal-content>
  
      <div [formGroup]="searchPersonalDetailsFormGroup">
  
        <div class="row">
          <ncp-label elementLabel="NCPLabel.customerName"></ncp-label>
          <text-box [inputType]="text" formControlName=clientName elementLabel="NCPLabel.customerName"></text-box>
        </div>
  
        <div class="row">
          <ncp-label elementLabel="NCPLabel.mobilePhone"></ncp-label>
          <text-box [inputType]="text" formControlName=clientPhoneNo elementLabel="NCPLabel.mobilePhone"></text-box>
        </div>
  
        <div class="row">
          <ncp-label elementLabel="NCPLabel.emailId"></ncp-label>
          <text-box [inputType]="text" formControlName=clientEmail elementLabel="NCPLabel.emailId"></text-box>
        </div>
        <div class="row">
          <ncp-label elementLabel="NCPLabel.identityNo"></ncp-label>
          <text-box [inputType]="text" formControlName=identityNo elementLabel="NCPLabel.identityNo"></text-box>
        </div>
       <!--  <div class="row">
          <ncp-label elementLabel="NCPLabel.subordinateUser"></ncp-label>
          <div class="col-md-6 col-sm-6 col-xs-11 p-sm-0">
            <div class="form-check disabled">
              <drop-down formControlName="subOrdinateUser" ngDefaultControl placeHolder="NCPLabel.pleaseSelectType"
                elementId="subordinateUser" miscType="ChildUsers" param1="{{userID}}" pickListFlag=true customFlag=true
                dropdownClass="col-md-12 col-sm-12 col-xs-12 no-pad" multipleSelect="true" displayOnClick="true"
                elementLabel="NCPLabel.subordinateUser">
              </drop-down>
            </div>
          </div>
        </div> -->
      </div>
    </modal-content>
    <modal-footer>
      <div class="btns-row">
        <div class="col-md-12 col-sm-12 col-xs-12 pull-right mb-xs-10">
          <div class="red" *ngIf="searchErrmsg">{{'NCPLabel.noRecordsFound' | translate}} &nbsp;
            <i class="fa fa-smile-o" aria-hidden="true"></i>
          </div>
        </div>
        <div *ngIf="errmsg" class="red mb10 fw-600">{{'NCPLabel.pleaseselectonefield' | translate}}&nbsp;
          <i class="fa fa-smile-o" aria-hidden="true"></i>
        </div>
        <button-field (click)="clearCustomerSearchModel();" buttonName="NCPBtn.clear" buttonType="custom" buttonClass="ncpbtn-default"
          iconClass="fa fa-close">
        </button-field>
        <button-field (click)="resetCustomer();" buttonName="NCPBtn.reset" buttonType="custom" buttonClass="ncpbtn-default"
          iconClass="fa fa-undo">
        </button-field>
        <button-field (click)="searchCustomerModel();" buttonName="NCPBtn.search" buttonType="custom" buttonClass="ncpbtn-default"
          iconClass="fa fa-search">
        </button-field>
      </div>
    </modal-footer>
  </ncp-modal>
  
  <ncp-modal #showHideColumnModal class="modalForm" [closeOnEscape]="false" [closeOnOutsideClick]="false" modalClass="modal-lg"
    modalTitle="NCPLabel.filterTableContents" titleIcon="glyphicon glyphicon-wrench confed">
    <modal-content>
      <div class="row">
        <multi-check elementId="cbox" [checkboxArray]="multicheckarray" elementLabel="Fields" ngDefaultControl></multi-check>
      </div>
    </modal-content>
    <modal-footer>
      <div class="btns-row">
        <div class="col-md-12 col-sm-12 col-xs-12 pull-right plr-xs-0">
          <div *ngIf="errmsg" class="red mb10 fw600">Please Select Atleast One Field &nbsp;
            <i class="fa fa-smile-o" aria-hidden="true"></i>
          </div>
        </div>
        <!--<div class="col-md-4 col-sm-5 col-xs-12 pull-right pr-md-0 pr-sm-0 mb20 mb-xs-10 plr-xs-0">
          <button type="submit" class="ncpbtn-default" (click)="selectAllColumn()" (click)="customerEditView.close()">{{'NCPBtn.showAll&Close'|translate}}</button>
        </div>-->
        <button-field buttonType="custom" buttonName="NCPBtn.close" (click)="showHideColumnModal.close()" buttonClass="ncp-linkBtn w100p "
          iconClass="fa fa-close">
        </button-field>
        <button-field (click)="colhide();" buttonName="NCPBtn.save" buttonType="custom" buttonClass="ncpbtn-default" iconClass="fa fa-save">
        </button-field>
      </div>
    </modal-footer>
  </ncp-modal>
  
  
  <ncp-modal class="modalForm" [modalKey]="documentViewmodal" [closeOnEscape]="false" [closeOnOutsideClick]="false" [hideCloseButton]="true"
    modalClass="modal-md" modalTitle="NCPLabel.documentInformation" titleIcon="fa fa-info-circle">
    <modal-content>
          <misc-h4 miscClass="mt0" [label]="'NCPLabel.listOfDocument'"></misc-h4>
      <div class="filterac">
        <table>
          <thead>
            <tr>
              <th>
                {{ 'NCPLabel.documentName' | translate }}
              </th>
              <th class="text-center">
                {{ 'NCPLabel.Action' | translate }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let info of customerPolicyDocInfo; let i = index">
              <td *ngIf="info.dispatchType==='PRINT' || info.dispatchType==='PDF'|| info.dispatchType==='PREVIEW'" class="hidden-xs">
                {{info.documentDesc}}
              </td>
              <td *ngIf="info.dispatchType==='PRINT' || info.dispatchType==='PDF'|| info.dispatchType==='PREVIEW'" (click)="particularDocumentView(i)"
                class="text-center" [attr.data-title]="info.documentDesc | translate">
                <button-field buttonType="custom" buttonClass="ncpbtn-default  ml-sm-10 mt-xs-0" buttonName="NCPBtn.viewFile" iconClass="fa fa-external-link-square">
                </button-field>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="popupLabel">
          <!--<label>{{ 'NCPLabel.popup' | translate }}</label>-->
          <misc-span class="text-center">{{'NCPLabel.popup' | translate}}</misc-span>
        </div>
      </div>
  
  
    </modal-content>
    <modal-footer>
      <div class="btns-row mt10">
        <button-field buttonType="custom" buttonClass="ncp-linkBtn mb10" iconClass="fa fa-close" buttonName="NCPBtn.close" (click)="documentViewmodal=false"
          data-dismiss="modal">
        </button-field>
      </div>
  
    </modal-footer>
  </ncp-modal>
  <ncp-modal *ngIf="isUpdateCustomerModal" [modalKey]="isUpdateCustomerModal" modalTitle="NCPLabel.updateCustomer" modalClass="modal-lg"
    [closeOnEscape]="false" [closeOnOutsideClick]="false" hideCloseButton="true">
    <modal-content *ngIf=policyHolderTypeFlag>
      <div class="row">
        <span>The Customer {{ this.personalDetailsFormGroup.controls['customerInfo'].value.appFullName }} details are updated Successfully</span>
      </div>
    </modal-content>
  
    <modal-content *ngIf=!policyHolderTypeFlag>
      <div class="row">
        <span> The Customer {{ this.personalDetailsFormGroup.controls['customerInfo'].value.companyName }} details are updated Successfully</span>
      </div>
    </modal-content>
  
    <modal-footer>
      <div class="btns-row">
        <button-field buttonType="custom" buttonName="NCPBtn.close" buttonClass="ncp-linkBtn w100p" (click)="isUpdateCustomerModal=false;navigateToHome()"
          iconClass="fa fa-close"></button-field>
      </div>
    </modal-footer>
  </ncp-modal>