<ion-content class="contentbg">
  <div class="row">
    <div class="col-lg-1 col-md-1 destop-view"></div>
    <div class="col-lg-11 col-md-11 col-sm-12 col-xs-12 pl-0 ">
      <div class="pl-4">
        <img class="home-logo pl-1" src="./assets/imgs/logo.png" alt="logo">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-1 col-lg-1 destop-view"></div>
    <div class="col-lg-11 col-md-12 col-sm-12 col-xs-12">
      <ion-item>
        <h1 class="text-left mt-0 mb-0 page-header">Dashboard</h1>
      </ion-item>
        <h3 class="pl-3 no-appts">No content present</h3>
    </div>
  </div>
</ion-content>